body{
    font-family: system-ui;
    background-color: #BFB8CB;
    background-size: cover; 
    background-repeat: no-repeat;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    animation: fadeIn 3s; 
}

p~button{
    color:rgb(162, 0, 255);
}

ul ol li {
    color:rgb(255, 255, 255)
}


.container{
    width: 75%;
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: solid red 3px;  */
}



.sub-container{ 
    height: 2em;
    display: flex; 
    width: 2em;
    /* border: solid black 2px; */
}

.icon {
    border-radius: 50%;
    transition: 0.5s;
    background-color: none;
    height: 2em;
    width: 2em; 

}



.icon:hover{
    transform: scale(1.3);
}



.middle{
    text-align: center;
    color: white;
    
}

.sub-title{
    font-size: 2em;
    text-align: center;
    color: rgb(93, 91, 109);

}

.red-box
{
    margin: auto;
    margin-right: 12.625em;
    
    width: 300px;
    height: 100px;
    background: linear-gradient(150deg, rgb(168, 169, 172), rgb(94, 100, 194)    );
    border: solid rgb(248, 224, 184) 0.5em;
    border-radius: 6px;
}


.no-underline{
    text-decoration: none;
}

.time-linebox{
    width: 10%;
    height: 15%;
    margin: auto; 
    border-radius: 2px;
}


.circle{
    height: 2em;
    width: 2em;
    background-color: rgb(0, 248, 157);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: auto;
    transition: 0.3s; 
    
}

.circle:hover{
    transform: scale(1.3);

    background-color: rgb(119, 255, 241);
}


#contacts{
    width: 50%;
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#intro{ 
    color: white; 
    font-size: 1.2em;
    letter-spacing: 1.05;
}


#link{
    color: rgb(255, 8, 255);
} 

#link:visited {
    color: rgb(255, 115, 0);
} 

#link:hover {
    color: rgb(0, 255, 106);
}


#top-hr{
    border-top: 3px solid rgb(255, 255, 255);

}

#headshot{
    border: 0.25em solid#101111;
    border-radius: 5px;
    margin: auto;
    display: block;
    animation: slideIn 2s ease-in-out forwards;


}


#projects{
    font-size: 2em;
    transition: 0.5s;
    color: rgb(0, 0, 0); 
}

#projects:hover{
    color: rgb(228, 255, 110);
}


#space-java{
    padding-left: 0.5em; 
}

#space-first{
    padding: 1em; 
}

#space-vision{
    padding-left: 0.5em; 
}

#space-front{
    padding: 0.5em; 
}


#java{
    padding-left: 2em
}

#hello-world{
    padding-left: 1em;
}

#computer-vision{
    padding-left: 1em;
}



#title{
    color: rgb(235, 235, 231);
    text-align: center;
}


#togglemode{
    border: none; 
    border-radius: 50%;
    width: 3em;
    margin-right: 1em;
    height: 3em; 
    transition: 0.5s; 
}

#togglemode:hover{
    transform: scale(1.3);

}

#name{ 
    animation: nameSlideUp 2s ease forwards 0.5s;
}


@keyframes nameSlideUp{
    0% {
        transform: translateY(-15em);
      }
      100% {
        transform: translateY(0px);
      }
}


@keyframes slideIn {
    0% {
      transform: translateX(50em) scale(.01);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }


@keyframes expand {
    0% {
      transform: translateX(50em);
    }
    100% {
      transform: translateX(0px);
    }
  }

@keyframes fadeIn{
    0% {opacity: 0;};

    100% {opacity: 1;};
    0% { color: #eb3349  ; };
    25% { color: #516395; }
    50% { color: #2193b0 ; }
    75% { color: #6dd5ed; }
    100% { color: #06beb6 ; }
    
}

@media (prefers-reduced-motion: no-preference){
    .subtitle-animation{
        animation: expand 2s 1;
    }
}