body{
    font-family: system-ui;
    background-color: #2a2a2a;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
}

.box{
    animation: slideInRight;
    width: 10%;
    position: fixed;
    display: flex; 
    flex-direction: column;
    height: 100%;
    background-color: #BFB8CB;;
    justify-content: space-evenly;
    margin: 0;
    text-align: center; 
}

#background{
    overflow: hidden;
    width: 100%; 
    margin: auto;
    padding-left: 3%;
    justify-content: center; 
    height: 100%;
    background-color: #2a2a2a;
    background-size: cover; 
    background-repeat: no-repeat;
}


section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    color:white; 
}


.container{
    width: 75%;
    margin: auto; 
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* border: solid red 3px;  */
}

.container2{
    width: 75%;
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    padding-left: 5%; 
    /* border: solid red 3px;  */
}


.sub-container{ 
    height: 2em;
    display: flex; 
    width: 2em;
    /* border: solid black 2px; */
}

.icon {
    border-radius: 50%;
    transition: 0.5s;
    background-color: none;
    height: 2em;
    width: 2em; 
    box-shadow: 0.05em 0.1em rgb(32, 28, 28)

}


.icon:hover{
    transform: scale(1.3);
}


.middle{
    text-align: center;
    color: white;
    /* border: 2px solid red;  */
    align-items: center;
    
}

.sub-title{
    font-size: 2em;
    text-align: center;
    color: white;

}

.red-box
{
    width: 300px;
    height: 100px;
    background: linear-gradient(150deg, rgb(168, 169, 172), rgb(94, 100, 194)    );
    border: solid rgb(248, 224, 184) 0.5em;
    border-radius: 6px;
    /* border: solid green 3px; */
    margin: 0 auto;

}


.no-underline{
    text-decoration: none;
}

.time-linebox{
    width: 20%;
    border-radius: 2px;
    /* border: 3px blue solid;  */
}

.circle-holder{ 
    /* border: 3px solid black; */
    width: 2em;
    height: 2em; 
    margin-left: auto;
    margin-right: auto;
}

.text-holder{
    /* border: 3px orange solid;  */
    width: auto;
    text-align: center;
    white-space: nowrap;
    font-size: 1vw;
}

.circle{
    height: 2em;
    width: 2em;
    background-color: rgb(0, 248, 157);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;    
    transition: 0.5s; 
    
}

.circle:hover{
    transform: scale(1.3);

    background-color: rgb(119, 255, 241);
}


#contacts{
    width: 50%;
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#intro{ 
    color: white; 
    font-size: 1.2em;
    letter-spacing: 1.05;
}


#top-hr{
    border-top: 3px solid rgb(255, 255, 255);

}

#headshot{
    position: relative;
    padding: 0.7em 0.7em;
    border-radius: 0.5em;
    background-image: linear-gradient(45deg, #9796f0, #fbc7d4);
    background-clip: padding-box;
    display: block;
    background-position: left;
    background-size: 300%; 
    animation: slideInRight 2s ease-in-out forwards;
    margin: auto;
    transition: background-position 1s;
}

#headshot:hover{
    background-position: right;
}


#projects{
    font-size: 2em;
    transition: 0.5s;
    color: rgb(0, 221, 255); 
}

#projects:hover{
    color: rgb(228, 255, 110);
}


#title{
    color: rgb(235, 235, 231);
    text-align: center;
}

#togglemode{
    cursor: pointer; 
    border: none; 
    border-radius: 50%;
    width: 3em;
    height: 3em; 
    transition: 0.5s; 
    margin: auto;
    margin-bottom:  1em;
    display: flex;
}

#togglemode:hover{
    transform: scale(1.3);

}


@keyframes nameSlideUp{
    0% {
        transform: translateY(-15em);
      }
      100% {
        transform: translateY(0px);
      }
}


@keyframes slideInRight {
    0% {
      transform: translateX(50em) scale(.01);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }

  @keyframes trial2 {
    0% {
      transform: translateX(50em) scale(1);
     
    }
    100% {
      transform: translateX(0px) scale(1);
    }

    to {
        margin-left: 10%;
      }
  }

@keyframes slideInLeft {
    0% {
      transform: translateX(-50em) scale(.01);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }



@keyframes expand {
    0% {
      transform: translateX(50em);
    }
    100% {
      transform: translateX(0px);
    }
  }

@keyframes fadeIn{
    0% {opacity: 0;};

    100% {opacity: 1;};
    10% { color: #eb3349  ; };
    25% { color: #516395; }
    50% { color: #2193b0 ; }
    75% { color: #6dd5ed; }
    100% { color: #06beb6 ; }
    
}

@media (prefers-reduced-motion: no-preference){
    .subtitle-animation{ /*triggers left right slide in animation*/
        animation: slideInRight 2s 1;
    }

    .name-animation{ /* triggers name sliding up animation*/
        animation: nameSlideUp 2s 1;
    }

    .subtitle-animation-2{   /*triggers left slide in animation*/
        animation: slideInLeft 2s 1;
    }

    .change-colors{
        animation: fadeIn 2s 1; 
    }

    .trial{
        animation: trial2 2s 1;
    }
}

@media screen and (min-width: 320px) {
    .text-holder{
       font-size: 1vw;;
    }

 
}
